<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    




<style scoped></style>

<div class="banner">

</div>






<div class="activites">
    <div class="row">
        <div class="col-4">Tot</div>
        <div class="col-8">tot</div>
    </div>
</div>


<div class="activites-item-link">
    <h3>Our Activites</h3>
                    <a href="">LINK</a>
                    <a href="">LINK</a>
                    <a href="">LINK</a>
                    <a href="">LINK</a>
                    <a href="">LINK</a>
                    <a href="">LINK</a>
</div>

<h3>Our Activites</h3>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>

<ul class="list-group">
    <li class="list-group-item active" aria-current="true">An active item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>




<span>
    <img src="" alt="">
    <h3></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consectetur tempore hic quos provident nulla, quae magnam quidem dignissimos amet at totam odio velit possimus obcaecati porro magni tenetur nam?</p>
</span>



</body>
</html>