<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="include">
        <div class="row">
            <div class="col-6">
                <div class="include-text">
                <h2>What are included?</h2>
                </div>

                <svg style="width:24px;height:24px; color:#047002" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
              </svg>
              <p>Onsite accommodation at Slukat during your volunteering placement. <br> Note: depending on availability you might have your room or <br> sharing with other volunteer.</p>
              
  

                <svg style="width:24px;height:24px; color:#047002" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
              </svg>
              <p>Pick-up from Bali's Denpasar airport and <br> dropoff at airport after placement completed. </p>
              
  

                <svg style="width:24px;height:24px; color:#047002" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
              </svg>
              <p>Breakfast (western supplies, eggs, milk, cereal, <br> bread, butter etc) and dinner (local Indonesian <br> stye food) will be provided only during class <br> days at Slukat. Mondays thru to Thursdays. </p>
              
  

                <svg style="width:24px;height:24px; color:#047002" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
              </svg>
              <p>Wi-Fi access onsite at Slukat. </p>
              
  

                <svg style="width:24px;height:24px; color:#047002" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
              </svg>
              <p>Support from Slukat's staff. </p>
              
  

                <svg style="width:24px;height:24px; color:#047002" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
              </svg>
              <p>Access to our driver for local shopping or <br> discovering Bali during your free time. (Note: <br> volunteer must pay for this service) </p>
              
                
              <div class="col-6">
                <div class="exclude-text">
                 <h2>What are excluded?</h2>
             
                 <svg style="width:24px;height:24px; color: red;" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
               <p>Airfares and all transportation to Slukat <br> (except pick-up and drop-off from airport) </p>
   
             
               <svg style="width:24px;height:24px; color: red;" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
               <p>Travel and health insurance</p>
   
             
               <svg style="width:24px;height:24px; color: red;" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
               <p>Visa costs for Bali/Indonesia (and possible <br> visa extenstion)</p>
   
             
               <svg style="width:24px;height:24px; color: red;" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
               <p>Vaccinations </p>
   
             
               <svg style="width:24px;height:24px; color: red;" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
               <p>Personal expenses & meals (except breakfast <br> and dinner during class days at Slukat)</p>
               
               <div class="hidden-text">
                 
             
               <svg style="width:24px;height:24px" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
               <p>Personal expenses & meals (except breakfast <br> and dinner during class days at Slukat)</p>
   
             
               <svg style="width:24px;height:24px" viewBox="0 0 24 24">
               <path fill="currentColor" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
               <p>Personal expenses & meals (except breakfast <br> and dinner during class days at Slukat)</p>
   
               </div>
   
               </div>
        </div>
    </div>
</body>
</html>